<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDfnZvh_cD60HJdK-zj2UapzZtM_lltMoM</string>
	<key>GCM_SENDER_ID</key>
	<string>594005437114</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Kralec.Track-Tracker</string>
	<key>PROJECT_ID</key>
	<string>track-tracker-auth</string>
	<key>STORAGE_BUCKET</key>
	<string>track-tracker-auth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:594005437114:ios:2f1906d2fe8c2c10e5b083</string>
</dict>
</plist>